* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: solid 10px #1098ac;
  position: relative;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
  border-width: 0cm;
}
article {
  margin-bottom: 60px;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;

  font-style: italic;
  text-transform: italic;
}
.post-header {
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h4 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
/* li:last-child {
  margin-bottom: 0;
} */
/* footer p {
  font-size: 16px;


} */
ol,
li {
  margin-left: 50px;
  margin-bottom: 20px;
}
#copyright {
  font-size: 16px;
}

#author {
  font-size: 20px;
  font-style: italic;
}
.related-author {
  font-weight: bold;
  font-size: 18px;
}

.related {
  list-style: none;
}

aside {
  border-top: solid 5px #1098ad;
  border-bottom: solid 5px #1098ad;
  background-color: #f7f7f7;
  padding: 50px 0;
  width: 500px;
}
.img-post {
  width: 50%;
  height: auto;
}

/* articlep: first-child {
  color: red;
} */

/* li:nth-child(even) {
  background-color: green;
}  
odd, even - четные, нечетные
body {
  background-color: green;
} */

/* pseudo-class

 li:first-child {
  color: red;
}

li:last-child {
  font-style: italic;
}*/

a:link {
  color: #1098ac;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ac;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}
a:active {
  background-color: lightpink;
  font-style: italic;
}
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.like {
  position: absolute;
  font-size: 24px;
  right: 50px;
  bottom: 300px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  color: #444;
  border: black solid 2px;
}
